.prj_image{
    opacity:0.7;
    transition: .5s ease;
    max-width: 24.5%;
    /* height: 170px; */
}
.prj_image:hover{
    opacity:1;
    transition: .5s ease;
}
.ceo_image{
    width: 100%;
    min-width: 300px;
    height: 100%;
}
.tag_text{
    color:#aaaaaa; 
    font-size:36px; 
    padding-top: 20px; 
    border-bottom: 1px solid #aaaaaa; 
    padding-bottom: 3px; 
    font-family: Open Sans, Helvetica, Arial, sans-serif; 
    font-weight:200;
    text-align: center;
}
.ceo_text{
    color:#aaaaaa; 
    font-size:15px;  
    padding: 20px 50px;
}
.title_button{
    margin: 20px;
    font-size: 20px;
    padding:20px 30px;
    background: transparent;
    /* border: 1px solid #2c3137; */
    border-width: 0px!important;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: #77cba2;
    color: #fff;
    border-radius: 5px;
  }
  .titleText{
    position: relative;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    max-width: 500px;
    border: 1px solid #77cba2!important;
    max-height: 800px;
    padding: 20px;
    top: 30%;
    margin: auto;
    left: 50px;
    
  }
  .titleBorder{
    color:#fff;
    padding:20px;
    background-color:transparent;
  
  }
  .titleColor{
    color: #77cba2;
    font-weight: 500;
  }
  .titlePar{
    text-align:center;
    font-size: 12px;
    color: #2c3137;
    padding: 20px;
    letter-spacing:2px;
  }
  .image_container {
    position: relative;
    width: 33%;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .image_container:hover .overlay {
    opacity: 0.5;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .projectmouseover{
    max-width:100%;
  }

  .prj_image_container {
    position: relative;
    width: 24.5%;
    padding-left: 4px;
    padding-left: 4px;
  }
  .prj_image_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(105, 186, 0);
  }
  .prj_image_container:hover .prj_image_overlay {
    opacity: 0.5;
  }
  .prj_image_text {
    color: white;
    font-size: 1em;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .prj_image1{
    opacity:0.7;
    transition: .5s ease;
    /* max-width: 24.5%; */
    /* height: 170px; */
}
.prj_image1:hover{
    opacity:1;
    transition: .5s ease;
}
@media screen and (max-width:768px){
    .prj_image_container {
        width: 49%!important;
        text-align: center;
        padding-bottom: 4px;
      
}}
  @media (max-width: 3000px) and (min-width: 769px){
.image_container {
    max-width: 100%;
    text-align: center;
}
.prj_image_container {
    padding-bottom: 4px;
}
/* .projectmouseover{
    max-height:350px;
} */
.prj_image{
    opacity:0.7;
    transition: .5s ease;
    max-width: 49%!important;
    max-height: 100%;
  }
  .prj_image1{
    opacity:0.7;
    transition: .5s ease;
    /* max-width: 49%!important; */
    max-height: 100%;
}
.partners_logos{
  text-align: center;
  width: 100%; 
  display: inline-block!important;
}
  }

