body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../images/background1.jpg');
  background-color: #f9e988;
  min-height:100%;
  width: 100%;
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;

}

.pimg2{
  background-image:url('../images/image2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../images/image3.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

.titleText{
  position:absolute;
  top:30%;
  left: 15%;
  width:80%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  max-width: 500px;
  border: 1px solid #77cba2!important;
  
}
.titleBorder{
  color:#fff;
  padding:20px;
  background-color:transparent;

}
.titleColor{
  color: #77cba2;
  font-weight: 500;
}
.titlePar{
  text-align:center;
  font-size: 12px;
  color: #2c3137;
  padding: 20px;
  letter-spacing:2px;
}
.titleButton{
  margin: 20px;
  font-size: 12px;
  background: transparent;
  /* border: 1px solid #2c3137; */
  border-width: 0px!important;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: #77cba2;
  color: #fff;
}
@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
  .titleText{
    position: unset;
    /* top:30%; */
    width:80%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    max-width: 500px;
    border: 1px solid #77cba2!important;
    margin: auto;
}
}