{% load staticfiles %}
{% load gravatar %}
<!DOCTYPE html>
<head>
    <title>Demo - Tech Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/customize.css" %}">
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="https://bootswatch.com/3/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
</head>
<body>
    <nav class="navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img id="monster" src="http://i65.tinypic.com/24oal5c.png" alt="img" height="50px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'index' %}"><h5>#1 Tech News Site In The World </h5><span class="sr-only">(current)</span></a></li>
        <li><a href="/"></a></li>
        
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><class="glyphicon glyphicon-comment" aria-hidden="true"><span><h5> More Tech News<span class="caret"></span></h5></span></a>
          <ul class="dropdown-menu">
              
            <li><a href="#"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Phones</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> Laptops</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span> Tablets</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Smart TV</a></li>
         <li><a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Virtual Reality</a></li>
          </ul>
        </li>
      </ul>

     <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="for display purposes only">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
         <ul class="nav navbar-nav navbar-right">
      <a class="navbar-brand" href="https://github.com/ignasgri"><img src="https://image.ibb.co/eWm1oQ/fork.png" alt="img" height="45px"></a>
        
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false"><span><img src="{% gravatar_url user.email %}" style="width:25px; height: 25px; background-color: #12ABB2; color: #ffffff;"
                    class="img-circle"></span> Account <spanclass="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Log In</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
        </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            
                <div class="panel-body">
                    {% if messages %}
                        <div class="alert alert-success">
                            <div class="messages">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-12">
            
                {% comment %} <div class="panel-body"> {% endcomment %}
                    <!--blog entries-->
                    {% block content %}
                    {% endblock %}
                    <!--blog entries-->
                {% comment %} </div> {% endcomment %}
            
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div>
        </div>
        </div>
</footer>
<!-- script references -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>